.game-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }


  .game-card img {
    width: 100%;
    height: auto;
  }
 
  /* Alinear contenido al centro */
  .card-body {
    text-align: center;
  }
